.App {
  
  background-color:black;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  height: 100vh;
}
.App-header {
  width:100%;
  background-color: black;
  text-align: center;
  
  float: left;  
}
.App-logo {
  width: 10%;
  float: left;
}
.heading{
  
  width: 10%;
  margin-left: 40%;
  padding: 1%;
}
.my-list1{
  background-color: black;
  float: right;
  width:100%;
}
.my-list{
  background-color: black;
  float:left;
  margin-left: 5%;
}
.updated-mylist{
  background-color:black;
  height: auto;
  width:100%
}
.btn{
  
  display:inline;
  margin-left: 5%;
}
